##
## Velocity Template for displaying the WebAuthn authentication view
##
## Velocity context will contain the following properties
## flowExecutionUrl - the form action location
## flowRequestContext - the Spring Web Flow RequestContext
## flowExecutionKey - the SWF execution key (this is built into the flowExecutionUrl)
## profileRequestContext - root of context tree
## authenticationContext - context with authentication request information
## authenticationErrorContext - context with login error state
## webauthnContext = web authentication context
## authenticationWarningContext - context with login warning state
## rpUIContext - the context with SP UI information from the metadata
## encoder - HTMLEncoder class
## webAuthnEncoder - WebAuthnEncoder class
## request - HttpServletRequest
## response - HttpServletResponse
## environment - Spring Environment object for property resolution
## revokeConsent - whether consent has been revoked from a previous view
##
#set ($debug = $environment.getProperty("idp.authn.webauthn.ui.debug", "false"))
#set ($rpContext = $profileRequestContext.getSubcontext('net.shibboleth.profile.context.RelyingPartyContext'))
#set ($credentialRegistrationRequester = false)
#if ($rpContext && $rpContext.getRelyingPartyId() == "http://shibboleth.net/ns/profiles/admin/webauthn/register-credential")
    #set ($credentialRegistrationRequester = true)
#end

## Add CSP directives
#set ($nonce = $cspNonce.generateIdentifier())
$response.addHeader("Content-Security-Policy", "default-src 'none'; style-src 'self'; img-src https:; script-src-elem 'nonce-$nonce'")

##
<!DOCTYPE html>
<html>
    <head>
        <title>#springMessageText("idp.title", "Web Login Service")</title>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
        <script type="text/javascript" src="$request.getContextPath()/js/webauthn/webauthn-support.js" #if ($nonce)nonce="$nonce"#end></script>
        <link rel="stylesheet" type="text/css" href="$request.getContextPath()#springMessageText("idp.css", "/css/placeholder.css" )">
        <link rel="stylesheet" type="text/css" href="$request.getContextPath()/css/webauthn.css">

        <script type="module" #if ($nonce)nonce="$nonce"#end>
            import {
                get,
                parseRequestOptionsFromJSON,
                supported,
            } from "$request.getContextPath()/js/webauthn/webauthn-json.browser-ponyfill.min.js";


            window.addEventListener("load", () => {
                try {
                    var isSupported = supported();
                    if (!isSupported) {
                        document.getElementById('supportedDiv').classList.add('hidden')
                        document.getElementById("supportedDiv").disabled = true;
                        document.getElementById("authenticate").disabled = true;
                        document.getElementById("authenticator_assertion_form").disabled = true;
                        document.getElementById("unsupportedDiv").disabled = false;
                        document.getElementById('unsupportedDiv').classList.remove('hidden')
                    } else {
                        document.getElementById("authenticate").onclick = authenticate;
                    }
                } catch (e) {
                    console.error(e);
                }
            });

            async function authenticate() {
                // Some UI changes
                try {
                    document.getElementById('authenticate').textContent='#springMessageText("idp.webauthn.authn.inprogress",
                                        "Authenticating...")'
                } catch (e) {
                    // No issue if this does not work
                }
                var pkCredRequestOptions = $webAuthnEncoder.serializePublicKeyCredentialRequestOptionsAsJSON($webauthnContext.publicKeyCredentialRequestOptions)
                var parsedRequestOptions = parseRequestOptionsFromJSON(pkCredRequestOptions);
                await get(parsedRequestOptions)
                    .then(function (pkCredAssertion) {
                        document.getElementById("publicKeyCredential").value = JSON.stringify(pkCredAssertion);
                        document.getElementById("authenticationSubmit").click();
                    }).catch(function (err) {
                        console.error(err);
                        document.getElementById('authenticate').textContent='#springMessageText("idp.webauthn.authn.retry",
                                        "Login failed, retry")'
                    });
            }
        </script>
    </head>
    <body>
        <main class="main">
            <header>
                <img class="main-logo" src="$request.getContextPath()#springMessageText("idp.logo", "/images/placeholder-logo.png" )" alt="#springMessageText(" idp.logo.alt-text", "logo" )" />
                #set ($serviceName = $rpUIContext.serviceName)
                #if ($credentialRegistrationRequester)
                    <h1>#springMessageText("idp.webauthn.registration.verifyExisting.title", "WebAuthn credentialの追加")</h1>
                    <p>#springMessageText("idp.webauthn.registration.verifyExisting.message", "既存キーで本人確認してください。")</p>
                #elseif ($serviceName && !$rpContext.getRelyingPartyId().contains($serviceName))
                    <h1>#springMessageText("idp.login.loginTo", "Login to") $encoder.encodeForHTML($serviceName)</h1>
                #end
            </header>
            <section>
                #*
                //
                // SP Description & Logo (optional)
                // These idpui lines will display added information (if available
                // in the metadata) about the Service Provider (SP) that requested
                // authentication. These idpui lines are "active" in this example
                // (not commented out) - this extra SP info will be displayed.
                // Remove or comment out these lines to stop the display of the
                // added SP information.
                //
                *#
                #set ($logo = $rpUIContext.getLogo())
                #if ($logo)
                    <img class="service-logo" src="$encoder.encodeForHTMLAttribute($logo)"
                        alt="$encoder.encodeForHTMLAttribute($serviceName)">
                #end
                #set ($desc = $rpUIContext.getServiceDescription())
                #if ($desc)
                    <p>$encoder.encodeForHTML($desc)</p>
                #end
                <div id="supportedDiv">
                    <div class="content">
                        #set ($errorMessage = $errorMessageFunction.apply($profileRequestContext))
                        #if ($errorMessage)
                            <p class="output-message output--error">$encoder.encodeForHTML($errorMessage)</p>
                        #end
                        <div class="centre">
                            <button id="authenticate" class="form-element form-button">
                                #if ($credentialRegistrationRequester)
                                    #springMessageText("idp.webauthn.registration.verifyExisting.button", "登録済みキーで本人確認する")
                                #else
                                    #springMessageText("idp.webauthn.authn.authenticate", "Login with passkey or security key")
                                #end
                            </button>
                        </div>
                        <form id="authenticator_assertion_form" action="$flowExecutionUrl" method="post">
                            #parse("csrf/csrf.vm")
                            <input type="hidden" id="publicKeyCredential" name="publicKeyCredential" />
                            <button class="hidden" id="authenticationSubmit" type="submit"
                                name="_eventId_proceed">#springMessageText("idp.webauthn.authn.submit", "Submit
                            authentication")</button>

                            <input type="checkbox" name="donotcache" value="1" id="donotcache" #if($!authenticationContext.isResultCacheable()==false)checked#end/>
                            <label for="donotcache">#springMessageText("idp.login.donotcache", "Don't Remember Login")</label>

                            <input id="_shib_idp_revokeConsent" type="checkbox" name="_shib_idp_revokeConsent" value="true" #if($revokeConsent)checked#end/>
                            <label for="_shib_idp_revokeConsent">#springMessageText("idp.attribute-release.revoke", "Clear prior granting of permission for release of your information to this service.")</label>
                        </form>
                        #if($debug == "true")
                            <hr />
                            <button type="button" class="collapsible-debug">#springMessageText("idp.webauthn.debug.title","Debugging")</button>
                            <div class="debug" id="debug-div">
                                <label for="publicKeyCredentialRequestOptions">#springMessageText("idp.webauthn.debug.request",
                                "Request Options")</label>
                                <textarea id="publicKeyCredentialRequestOptions" name="publicKeyCredentialRequestOptions"
                                    rows="20" cols="50">
                                $webAuthnEncoder.serializePublicKeyCredentialRequestOptionsAsJSON($webauthnContext.publicKeyCredentialRequestOptions)</textarea>
                            </div>
                        #end
                    </div>
                </div>
                <div id="unsupportedDiv" class="hidden">
                    #springMessageText("idp.webauthn.authn.unsupported", "Your browser is not WebAuthn compatible")
                </div>
                 <ul>
                        #if (!$credentialRegistrationRequester)
                            <li><a href="$request.getContextPath()/profile/admin/webauthn-registration">#springMessageText("idp.webauthn.enrollment", "Register an additional credential")</a></li>
                        #end
                        <li><a href="#springMessageText('idp.url.helpdesk', '#')">#springMessageText("idp.login.needHelp", "Need Help?")</a></li>
                    </ul>
            </section>
        </main>
        <footer>
            <div class="cc">
                <p class="footer-text">#springMessageText("idp.footer", "Insert your footer text here.")</p>
            </div>
        </footer>
    </body>
</html>
